	/*
  	Flaticon icon font: Flaticon
  	Creation date: 24/09/2017 11:37
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 0px;
}

.flaticon-text-quotes:before { content: "\f100"; }
.flaticon-briefcase:before { content: "\f101"; }
.flaticon-stats-presentation:before { content: "\f102"; }
.flaticon-play-button:before { content: "\f103"; }
.flaticon-placeholder:before { content: "\f104"; }
.flaticon-note:before { content: "\f105"; }
.flaticon-phone-call:before { content: "\f106"; }
.flaticon-networking:before { content: "\f107"; }
.flaticon-trophy:before { content: "\f108"; }
.flaticon-money:before { content: "\f109"; }
.flaticon-donation:before { content: "\f10a"; }
.flaticon-contract:before { content: "\f10b"; }
.flaticon-graphic:before { content: "\f10c"; }
.flaticon-worldwide:before { content: "\f10d"; }
.flaticon-login:before { content: "\f10e"; }
.flaticon-improve:before { content: "\f10f"; }
.flaticon-line-chart:before { content: "\f110"; }
.flaticon-target:before { content: "\f111"; }
.flaticon-search:before { content: "\f112"; }
.flaticon-shopping-bag:before { content: "\f113"; }