h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, [class*='heading-'] a:hover {
	color: #fcb80b;
}
a, a:focus, a:active {
	color: #fcb80b;
}
a:hover {
	color: #fcb80b;
}
.link-hover {
	color: #fcb80b;
}
.image-hover-effect-1 .link-wrap:hover a{background-color: #fcb80b; border-color: #fcb80b;}
.image-hover-effect-1 .link-wrap:hover a:before{background-color: #fcb80b;}
.link-press {
	color: #fcb80b;
}
.gallery-title a, .gallery-title a:focus, .gallery-title a:active, .link-instafeed-3 a, .link-instafeed-3 a:focus, .link-instafeed-3 a:active {
	color: #fcb80b;
}
.gallery-title a:hover, .link-instafeed-3 a:hover {
	color: #fcb80b;
}
.block-center:hover .block-center-header {
	background-color: #fcb80b;
}
 @media (max-width: 1599px) {
.block-center-header {
	background-color: #fcb80b;
}
}
.box-icon-creative-2 .box-icon-creative-icon {
	color: #fcb80b;
}
.box-icon-creative-2 .box-icon-creative-title a:hover {
	color: #fcb80b;
}
.box-icon-creative-icon {
	color: #fcb80b;
}
.box-icon-creative-title a:hover {
	color: #fcb80b;
}
 @media (min-width: 992px) {
.desktop .box-icon-creative:hover .box-icon-creative-icon::after {
	border-color: #fcb80b;
}
.desktop .box-icon-creative:hover .box-icon-creative-decor {
	border-color: #fcb80b;
}
.desktop .box-icon-creative:hover .box-icon-creative-decor:before {
	height: 100%;
	background: #fcb80b;
}
.desktop .box-icon-creative:hover .box-icon-creative-count {
	left: 4px;
	color: #fcb80b;
}
.desktop .box-icon-creative-2:hover .box-icon-creative-icon::after {
	border-color: #fcb80b;
}
.desktop .box-icon-creative-2:hover .box-icon-creative-decor {
	border-color: #fcb80b;
}
.desktop .box-icon-creative-2:hover .box-icon-creative-decor:before {
	background: #fcb80b;
}
.desktop .box-icon-creative-2:hover .box-icon-creative-count {
	color: #fcb80b;
}
}
.headingTitle h1 span {
	color: #fcb80b;
	font-weight: bold;
}
.box-icon-modern-icon::after {
	background: #fcb80b;
}
.box-icon-modern-title a:hover {
	color: #fcb80b;
}
.box-icon-classic-2 .box-icon-classic-icon {
	color: #fcb80b;
}
.box-icon-classic-icon {
	color: #fcb80b;
}
.box-icon-classic-title a:hover {
	color: #fcb80b;
}
 @media (min-width: 992px) {
.desktop .box-icon-classic-3:hover .box-icon-classic-icon {
	color: #fcb80b;
}
}
.box-icon-leah-icon {
	color: #fcb80b;
}
.box-icon-leah-count {
	color: #fcb80b;
}
 @media (min-width: 992px) {
.desktop .box-icon-leah-2:hover .box-icon-leah-count {
	color: #fcb80b;
}
}
.box-comment-author a:hover {
	color: #fcb80b;
}
.box-comment-reply a, .box-comment-reply a:focus, .box-comment-reply a:active {
	color: #fcb80b;
}
.box-comment-reply a:hover {
	color: #fcb80b;
}
.box-contacts-icon {
	color: #fcb80b;
}
.box-contacts-decor {
	background: #fcb80b;
}
.box-contacts-link a:hover {
	color: #fcb80b;
}
.box-pricing .button:hover, .box-pricing .button:active {
	background-color: #fcb80b;
	border-color: #fcb80b;
}
.box-pricing-black .box-pricing-list > li.active::before {
	color: #fcb80b;
}
.box-pricing-list > li.active::before {
	color: #fcb80b;
}
.box-pricing-badge {
	background: #fcb80b;
}
.box-sportlight-sale::before {
	background: #fcb80b;
}
.desktop .box-sportlight:hover .box-sportlight-caption {
	background: #fcb80b;
	border-color: #fcb80b;
}
.box-icon-ruby::after {
	background: #fcb80b;
}
.box-icon-ruby-icon {
	color: #fcb80b;
}
 @media (min-width: 992px) {
.desktop .box-icon-ruby:hover {
	border-color: #fcb80b;
}
}
.box-project-title > span {
	color: #fcb80b;
}
.list-marked-secondary > li::before {
	background: #fcb80b;
}
.list-marked-primary > li::before {
	background: #fcb80b;
}
.list-contacts .icon {
	color: #fcb80b;
}
.list-contacts a:hover {
	color: #fcb80b;
}
.table-custom.table-custom-primary thead th {
	background: #fcb80b;
}
.table-cart-link:hover {
	color: #fcb80b;
}
.title-decoration-lines-bottom span::after {
	background: #fcb80b;
}
.button-default:hover, .button-default:active {
	background-color: #fcb80b;
	border-color: #fcb80b;
}
.button-default.button-ujarak::before {
	background: #fcb80b;
}
.button-default.button-pipaluk::before, .button-default.button-pipaluk:focus::before {
	border-color: #fcb80b;
}
.button-default.button-pipaluk::after, .button-default.button-pipaluk:focus::after {
	border-color: #fcb80b;
}
.button-default.button-pipaluk:hover, .button-default.button-pipaluk:active {
	color: #fcb80b;
}
.button-default.button-wapasha::after, .button-default.button-wapasha:focus::after {
	border-color: #fcb80b;
}
.button-default.button-wapasha:hover, .button-default.button-wapasha:active {
	color: #fcb80b;
}
.button-primary, .button-primary:focus {
	background-color: #fcb80b;
	border-color: #fcb80b;
}
.button-primary.button-pipaluk::before, .button-primary.button-pipaluk:focus::before {
	background: #fcb80b;
}
.button-primary.button-wapasha, .button-primary.button-wapasha:focus {
	color: #fcb80b;
}
.button-primary.button-wapasha::before, .button-primary.button-wapasha:focus::before {
	border-color: #fcb80b;
}
.button-secondary, .button-secondary:focus {
	background-color: #fcb80b;
	border-color: #fcb80b;
}
.button-secondary.button-pipaluk::before, .button-secondary.button-pipaluk:focus::before {
	background: #fcb80b;
}
.button-secondary.button-wapasha, .button-secondary.button-wapasha:focus {
	color: #fcb80b;
}
.button-secondary.button-wapasha::before, .button-secondary.button-wapasha:focus::before {
	border-color: #fcb80b;
}
.button-white:hover, .button-white:active {
	background-color: #fcb80b;
	border-color: #fcb80b;
}
.button-white.button-ujarak::before {
	background: #fcb80b;
}
.button-white.button-pipaluk::before, .button-white.button-pipaluk:focus::before {
	border-color: #fcb80b;
}
.button-white.button-pipaluk::after, .button-white.button-pipaluk:focus::after {
	border-color: #fcb80b;
}
.button-white.button-pipaluk:hover, .button-white.button-pipaluk:active {
	color: #fcb80b;
}
.button-white.button-wapasha::after, .button-white.button-wapasha:focus::after {
	border-color: #fcb80b;
}
.button-white.button-wapasha:hover, .button-white.button-wapasha:active {
	color: #fcb80b;
}
.button-gray-8:hover, .button-gray-8:active {
	background-color: #fcb80b;
	border-color: #fcb80b;
}
.button-gray-8.button-ujarak::before {
	background: #fcb80b;
}
.button-gray-8.button-pipaluk::before, .button-gray-8.button-pipaluk:focus::before {
	border-color: #fcb80b;
}
.button-gray-8.button-pipaluk::after, .button-gray-8.button-pipaluk:focus::after {
	border-color: #fcb80b;
}
.button-gray-8.button-pipaluk:hover, .button-gray-8.button-pipaluk:active {
	color: #fcb80b;
}
.button-gray-8.button-wapasha::after, .button-gray-8.button-wapasha:focus::after {
	border-color: #fcb80b;
}
.button-gray-8.button-wapasha:hover, .button-gray-8.button-wapasha:active {
	color: #fcb80b;
}
.button-default-outline:hover, .button-default-outline:active {
	background-color: #fcb80b;
	border-color: #fcb80b;
}
.button-default-outline.button-ujarak::before {
	background: #fcb80b;
}
.button-default-outline.button-pipaluk::before, .button-default-outline.button-pipaluk:focus::before {
	border-color: #fcb80b;
}
.button-default-outline.button-pipaluk::after, .button-default-outline.button-pipaluk:focus::after {
	border-color: #fcb80b;
}
.button-default-outline.button-pipaluk:hover, .button-default-outline.button-pipaluk:active {
	color: #fcb80b;
}
.button-default-outline.button-wapasha::after, .button-default-outline.button-wapasha:focus::after {
	border-color: #fcb80b;
}
.button-default-outline.button-wapasha:hover, .button-default-outline.button-wapasha:active {
	color: #fcb80b;
}
.button-default-outline-2:hover, .button-default-outline-2:active {
	background-color: #fcb80b;
	border-color: #fcb80b;
}
.button-default-outline-2.button-ujarak::before {
	background: #fcb80b;
}
.button-default-outline-2.button-pipaluk::before, .button-default-outline-2.button-pipaluk:focus::before {
	border-color: #fcb80b;
}
.button-default-outline-2.button-pipaluk::after, .button-default-outline-2.button-pipaluk:focus::after {
	border-color: #fcb80b;
}
.button-default-outline-2.button-pipaluk:hover, .button-default-outline-2.button-pipaluk:active {
	color: #fcb80b;
}
.button-default-outline-2.button-wapasha::after, .button-default-outline-2.button-wapasha:focus::after {
	border-color: #fcb80b;
}
.button-default-outline-2.button-wapasha:hover, .button-default-outline-2.button-wapasha:active {
	color: #fcb80b;
}
.button-white-outline:hover, .button-white-outline:active {
	background-color: #fcb80b;
	border-color: #fcb80b;
}
.button-white-outline.button-ujarak::before {
	background: #fcb80b;
}
.button-white-outline.button-pipaluk::before, .button-white-outline.button-pipaluk:focus::before {
	border-color: #fcb80b;
}
.button-white-outline.button-pipaluk::after, .button-white-outline.button-pipaluk:focus::after {
	border-color: #fcb80b;
}
.button-white-outline.button-pipaluk:hover, .button-white-outline.button-pipaluk:active {
	color: #fcb80b;
}
.button-white-outline.button-wapasha::after, .button-white-outline.button-wapasha:focus::after {
	border-color: #fcb80b;
}
.button-white-outline.button-wapasha:hover, .button-white-outline.button-wapasha:active {
	color: #fcb80b;
}
.button-ghost:hover {
	background: #fcb80b;
}
.button-ujarak::before {
	background: #fcb80b;
}
.btn-primary, .btn-primary:active, .btn-primary:focus {
	background: #fcb80b;
	border-color: #fcb80b;
}
.button-primary-gradient, .button-primary-gradient:focus {
	background-color: #fcb80b;
}
.button-primary-gradient:hover, .button-primary-gradient:active {
	background-color: #fcb80b;
}
.button-primary-gradient.button-ujarak::before {
	background: #fcb80b;
}
.button-primary-gradient.button-pipaluk::before, .button-primary-gradient.button-pipaluk:focus::before {
	background: #fcb80b;
}
.form-wrap.has-focus .form-input {
	border-color: #fcb80b;
}
.form-input-price {
	border-bottom: 2px solid #fcb80b;
}
.radio .radio-custom-dummy, .radio-inline .radio-custom-dummy {
	color: #fcb80b;
}
.checkbox .checkbox-custom-dummy, .checkbox-inline .checkbox-custom-dummy {
	color: #fcb80b;
}
.toggle-custom:checked ~ .checkbox-custom-dummy::after {
	background: #fcb80b;
}
.box-form .form-input.form-input-price {
	border-bottom-color: #fcb80b;
}
.box-form .button.button-ujarak:not([class*='button-secondary'])::before {
	background: #fcb80b;
}
.box-form .button.button-ujarak:not([class*='button-secondary']):hover, .box-form .button.button-ujarak:not([class*='button-secondary']):active {
	border-color: #fcb80b;
}
.post-classic-comments a:hover {
	color: #fcb80b;
}
.post-classic-author a, .post-classic-author a:focus, .post-classic-author a:active {
	color: #fcb80b;
}
.post-classic-author a:hover {
	color: #fcb80b;
}
.post-modern-time {
	color: #fcb80b;
}
.post-creative-author a:hover {
	color: #fcb80b;
}
.post-creative-time {
	color: #fcb80b;
}
.post-creative-title a:hover {
	color: #fcb80b;
}
.post-aria-2 .post-aria-time {
	color: #fcb80b;
}
.post-aria-2 .post-aria-list-social .icon::after {
	background: #fcb80b;
}
.post-aria-time {
	color: #fcb80b;
}
.post-aria-list-social .icon::after {
	background: #fcb80b;
}
.list-categories a:hover {
	color: #fcb80b;
}
.list-categories a::before {
	background: #fcb80b;
}
.list-categories a.active {
	color: #fcb80b;
}
.badge-primary > div {
	background: #fcb80b;
}
.badge-primary > svg {
	fill: #fcb80b;
}
.badge-secondary > div {
	background: #fcb80b;
}
.badge-secondary > svg {
	fill: #fcb80b;
}
.badge-white:focus > div, .badge-white:hover > div {
	background: #fcb80b;
}
.badge-white:focus > svg, .badge-white:hover > svg {
	fill: #fcb80b;
}
.post-minimal-title a:hover {
	color: #fcb80b;
}
.post-minimal-2-title a, .post-minimal-2-title a:focus, .post-minimal-2-title a:active {
	color: #fcb80b;
}
.post-minimal-2-title a:hover {
	color: #fcb80b;
}
.blog-post-tags a:hover {
	color: #fcb80b;
}
.quote-classic-text::before {
	color: #fcb80b;
}
.quote-classic-cite {
	color: #fcb80b;
}
.quote-modern-2 .quote-modern-status {
	color: #fcb80b;
}
.quote-modern-status {
	color: #fcb80b;
}
.quote-creative-cite {
	color: #fcb80b;
}
.quote-creative-cite a:hover {
	color: #fcb80b;
}
.quote-lisa-2 .quote-lisa-text::before, .quote-lisa-2 .quote-lisa-text::after {
	color: #fcb80b;
}
.quote-lisa-2 .quote-lisa-cite a:hover {
	color: #fcb80b;
}
.quote-lisa-text::before, .quote-lisa-text::after {
	color: #fcb80b;
}
.quote-lisa-cite a:hover {
	color: #fcb80b;
}
.quote-lisa-status {
	color: #fcb80b;
}
.quote-minimal-source a, .quote-minimal-source a:focus, .quote-minimal-source a:active {
	color: #fcb80b;
}
.quote-minimal-source a:hover {
	color: #fcb80b;
}
.thumbnail-classic-title-wrap .icon:hover {
	color: #fcb80b;
}
.thumbnail-classic-title {
	color: #fcb80b;
}
.thumbnail-classic-title a:hover {
	color: #fcb80b;
}
.thumbnail-creative-time {
	color: #fcb80b;
}
.thumbnail-mary-title a:hover {
	color: #fcb80b;
}
.thumbnail-mary-time {
	color: #fcb80b;
}
.owl-timeline .thumbnail-mary-decor {
	background: #fcb80b;
}
.project-minimal-title a:hover {
	color: #fcb80b;
}
.breadcrumbs-custom-path a:hover {
	color: #fcb80b;
}
.page-item:first-child .page-link, .page-item:last-child .page-link {
	color: #fcb80b;
}
.page-item:first-child .page-link:hover, .page-item:first-child .page-link:focus, .page-item:first-child .page-link:active, .page-item:last-child .page-link:hover, .page-item:last-child .page-link:focus, .page-item:last-child .page-link:active {
	color: #fcb80b;
}
.page-link:hover, .page-link:focus, .page-link:active {
	color: #fcb80b;
}
.page-item.active > .page-link, .page-item.active > .page-link:hover, .page-item.active > .page-link:focus, .page-item.active > .page-link:active {
	color: #fcb80b;
}
.footer-contacts .icon {
	color: #fcb80b;
}
.footer-contacts a:hover {
	color: #fcb80b;
}
.footer-social-list-2 a:hover {
	color: #fcb80b;
}
.card-toggle-circle::before {
	background: #fcb80b;
}
.product-title a:hover {
	color: #fcb80b;
}
.product-price {
	color: #fcb80b;
}
.product-minimal-title a:hover {
	color: #fcb80b;
}
.product-minimal-price {
	color: #fcb80b;
}
.list-shop-filter li > span {
	color: #fcb80b;
}
.product-big-reviews:hover {
	color: #fcb80b;
}
.box-categories-list a:hover {
	color: #fcb80b;
}
.single-product-price {
	color: #fcb80b;
}
.social-list .icon:hover {
	color: #fcb80b;
}
.box-categories-list li:hover::before {
	border-left-color: #fcb80b;
}
.product-big-price-wrap::before {
	background: #fcb80b;
}
.services-modern-title a:hover {
	color: #fcb80b;
}
 @media (min-width: 992px) {
.desktop .services-modern:hover .services-modern-counter {
	color: #fcb80b;
}
}
.team-classic-name a:hover {
	color: #fcb80b;
}
 @media (min-width: 992px) {
.desktop .team-modern-2:hover .team-modern-figure::before {
	border-color: #fcb80b;
}
}
.team-nikki-arrow {
	color: #fcb80b;
}
 @media (min-width: 1200px) {
.desktop .team-creative:hover .team-creative-status {
	color: #fcb80b;
}
}
 @media (min-width: 992px) {
.desktop .team-nikki:hover .team-nikki-caption {
	background: #fcb80b;
}
.desktop .team-nikki:hover .team-nikki-arrow {
	background: #fcb80b;
}
}
.video-classic-play::after {
	background: #fcb80b;
}
.video-modern-subtitle {
	color: #fcb80b;
}
.text-primary {
	color: #fcb80b;
}
.text-secondary {
	color: #fcb80b;
}
.context-dark .rights a:hover, .bg-gray-dark .rights a:hover, .bg-primary .rights a:hover {
	color: #fcb80b;
}
.footer-variant-2.context-dark .button.button-ujarak:hover, .footer-variant-2.bg-gray-dark .button.button-ujarak:hover, .footer-variant-2.bg-primary .button.button-ujarak:hover, .footer-variant-2.context-dark .button.button-ujarak:active, .footer-variant-2.bg-gray-dark .button.button-ujarak:active, .footer-variant-2.bg-primary .button.button-ujarak:active {
	color: #fcb80b;
}
.context-dark .footer-social-list-2 a:hover, .bg-gray-dark .footer-social-list-2 a:hover, .bg-primary .footer-social-list-2 a:hover {
	color: #fcb80b;
}
.footer-minimal.context-dark .footer-minimal-bottom-panel a:hover, .footer-minimal.bg-gray-dark .footer-minimal-bottom-panel a:hover, .footer-minimal.bg-primary .footer-minimal-bottom-panel a:hover, .footer-minimal.context-dark .footer-corporate-bottom-panel a:hover, .footer-minimal.bg-gray-dark .footer-corporate-bottom-panel a:hover, .footer-minimal.bg-primary .footer-corporate-bottom-panel a:hover, .footer-corporate.context-dark .footer-minimal-bottom-panel a:hover, .footer-corporate.bg-gray-dark .footer-minimal-bottom-panel a:hover, .footer-corporate.bg-primary .footer-minimal-bottom-panel a:hover, .footer-corporate.context-dark .footer-corporate-bottom-panel a:hover, .footer-corporate.bg-gray-dark .footer-corporate-bottom-panel a:hover, .footer-corporate.bg-primary .footer-corporate-bottom-panel a:hover {
	color: #fcb80b;
}
.footer-minimal.context-dark .button-gray-31.button-ujarak::before, .footer-minimal.bg-gray-dark .button-gray-31.button-ujarak::before, .footer-minimal.bg-primary .button-gray-31.button-ujarak::before, .footer-corporate.context-dark .button-gray-31.button-ujarak::before, .footer-corporate.bg-gray-dark .button-gray-31.button-ujarak::before, .footer-corporate.bg-primary .button-gray-31.button-ujarak::before {
	background: #fcb80b;
}
.footer-minimal.context-dark .button-gray-31.button-ujarak:hover, .footer-minimal.bg-gray-dark .button-gray-31.button-ujarak:hover, .footer-minimal.bg-primary .button-gray-31.button-ujarak:hover, .footer-minimal.context-dark .button-gray-31.button-ujarak:active, .footer-minimal.bg-gray-dark .button-gray-31.button-ujarak:active, .footer-minimal.bg-primary .button-gray-31.button-ujarak:active, .footer-corporate.context-dark .button-gray-31.button-ujarak:hover, .footer-corporate.bg-gray-dark .button-gray-31.button-ujarak:hover, .footer-corporate.bg-primary .button-gray-31.button-ujarak:hover, .footer-corporate.context-dark .button-gray-31.button-ujarak:active, .footer-corporate.bg-gray-dark .button-gray-31.button-ujarak:active, .footer-corporate.bg-primary .button-gray-31.button-ujarak:active {
	border-color: #fcb80b;
}
.footer-corporate-2.context-dark .footer-contacts .icon, .footer-corporate-2.bg-gray-dark .footer-contacts .icon, .footer-corporate-2.bg-primary .footer-contacts .icon {
	color: #fcb80b;
}
.footer-corporate-2.context-dark .button-gray-31.button-ujarak::before, .footer-corporate-2.bg-gray-dark .button-gray-31.button-ujarak::before, .footer-corporate-2.bg-primary .button-gray-31.button-ujarak::before {
	background: #fcb80b;
}
.footer-corporate-2.context-dark .button-gray-31.button-ujarak:hover, .footer-corporate-2.bg-gray-dark .button-gray-31.button-ujarak:hover, .footer-corporate-2.bg-primary .button-gray-31.button-ujarak:hover, .footer-corporate-2.context-dark .button-gray-31.button-ujarak:active, .footer-corporate-2.bg-gray-dark .button-gray-31.button-ujarak:active, .footer-corporate-2.bg-primary .button-gray-31.button-ujarak:active {
	border-color: #fcb80b;
}
.context-dark .video-modern-subtitle, .bg-gray-dark .video-modern-subtitle, .bg-primary .video-modern-subtitle {
	color: #fcb80b;
}
.context-dark .title-decoration-lines-left::before, .bg-gray-dark .title-decoration-lines-left::before, .bg-primary .title-decoration-lines-left::before {
	background: #fcb80b;
}
p.rights a:hover {
	color: #fcb80b;
}
.cssload-container span {
	background-color: #fcb80b;
}
 @-webkit-keyframes loaderBlock {
 55% {
 background-color: #fcb80b;
}
}
@keyframes loaderBlock {
 55% {
 background-color: #fcb80b;
}
}
 @-webkit-keyframes loaderBlockInverse {
 55% {
 background-color: #fcb80b;
}
}
 @keyframes loaderBlockInverse {
 55% {
 background-color: #fcb80b;
}
}
.ui-to-top {
	background: #fcb80b;
}
.rd-navbar-search .form-label {
	color: #fcb80b;
}
.rd-navbar-search .rd-search-form-submit:hover {
	color: #fcb80b;
}
.rd-navbar-static .rd-nav-item.focus .rd-nav-link, .rd-navbar-static .rd-nav-item.opened .rd-nav-link {
	color: #fcb80b;
}
.rd-navbar-static .rd-nav-item.focus > .rd-navbar-submenu-toggle, .rd-navbar-static .rd-nav-item.opened > .rd-navbar-submenu-toggle {
	color: #fcb80b;
}
.rd-navbar-static .rd-nav-item.active .rd-nav-link {
	color: #fcb80b;
}
.rd-navbar-static .rd-nav-item.active > .rd-navbar-submenu-toggle {
	color: #fcb80b;
}
.rd-navbar-static .rd-nav-item > .rd-navbar-submenu-toggle:hover {
	color: #fcb80b;
}
.rd-navbar-static .rd-nav-link:hover {
	color: #fcb80b;
}
.rd-navbar-static .rd-navbar-dropdown li > a::before, .rd-navbar-static .rd-megamenu-list li > a::before {
	background: #fcb80b;
}
.rd-navbar-static .rd-megamenu-list-link:hover {
	color: #fcb80b;
}
.rd-navbar-static .rd-navbar-search-toggle:hover {
	color: #fcb80b;
}
.rd-navbar-basket span {
	color: #fcb80b;
}
.rd-navbar-basket:hover {
	color: #fcb80b;
}
.rd-navbar-share-list-item a:hover {
	color: #fcb80b;
}
.rd-navbar-share:hover {
	color: #fcb80b;
}
 @-webkit-keyframes burger-hover {
 50% {
 background: #fcb80b;
}
}
 @keyframes burger-hover {
 50% {
 background: #fcb80b;
}
}
 @-webkit-keyframes burger-hover-primary {
 50% {
 background: #fcb80b;
}
}
 @keyframes burger-hover-primary {
 50% {
 background: #fcb80b;
}
}
.project-hamburger-2 > span::after {
	background: #fcb80b;
}
.rd-navbar-fixed .rd-nav-item:hover .rd-nav-link, .rd-navbar-fixed .rd-nav-item.focus .rd-nav-link, .rd-navbar-fixed .rd-nav-item.active .rd-nav-link, .rd-navbar-fixed .rd-nav-item.opened .rd-nav-link {
	background: #fcb80b;
}
.rd-navbar-fixed .rd-megamenu-list > li:hover > a, .rd-navbar-fixed .rd-megamenu-list > li.focus > a, .rd-navbar-fixed .rd-megamenu-list > li.active > a, .rd-navbar-fixed .rd-megamenu-list > li.opened > a, .rd-navbar-fixed .rd-navbar-dropdown > li:hover > a, .rd-navbar-fixed .rd-navbar-dropdown > li.focus > a, .rd-navbar-fixed .rd-navbar-dropdown > li.active > a, .rd-navbar-fixed .rd-navbar-dropdown > li.opened > a {
	background: #fcb80b;
}
.rd-navbar-fixed .rd-navbar-megamenu .rd-megamenu-title {
	color: #fcb80b;
}
.rd-navbar-fixed .rd-navbar-megamenu .rd-megamenu-title a:hover {
	color: #fcb80b;
}
.rd-navbar-fixed .rd-navbar-search .rd-search-form-submit:hover {
	color: #fcb80b;
}
.rd-navbar-fixed .rd-navbar-search-toggle:hover {
	color: #fcb80b;
}
.rd-navbar-sidebar .rd-nav-item.active .rd-nav-link {
	color: #fcb80b;
}
.rd-navbar-sidebar .rd-nav-link:hover {
	color: #fcb80b;
}
.rd-navbar-sidebar .rd-nav-item > .rd-navbar-submenu-toggle:hover, .rd-navbar-sidebar .rd-nav-item .rd-navbar--has-dropdown > .rd-navbar-submenu-toggle:hover {
	color: #fcb80b;
}
.rd-navbar-sidebar .rd-navbar-dropdown li > a::before, .rd-navbar-sidebar .rd-megamenu-list li > a::before {
	background: #fcb80b;
}
.rd-navbar-sidebar .rd-navbar-dropdown .rd-navbar--has-dropdown.opened > .rd-navbar-submenu-toggle {
	color: #fcb80b;
}
.rd-navbar-modern.rd-navbar-static .rd-nav-item.focus .rd-nav-link, .rd-navbar-modern.rd-navbar-static .rd-nav-item.opened .rd-nav-link {
	color: #fff;
}
.rd-navbar-modern.rd-navbar-static .rd-nav-item.focus .rd-nav-link > .rd-navbar-submenu-toggle, .rd-navbar-modern.rd-navbar-static .rd-nav-item.opened .rd-nav-link > .rd-navbar-submenu-toggle {
	color: #fcb80b;
}
.rd-navbar-modern.rd-navbar-static .rd-nav-link::before {
	background: #fcb80b;
}
.rd-navbar-modern.rd-navbar-static .rd-nav-link:hover {
	color: #fcb80b;
}
.link-instafeed-2 span {
	color: #fcb80b;
}
.link-instafeed-2 a, .link-instafeed-2 a:focus, .link-instafeed-2 a:active {
	color: #fcb80b;
}
.link-instafeed-2 a:hover {
	color: #fcb80b;
}
.rd-navbar-modern-contacts .icon {
	color: #fcb80b;
}
.rd-navbar-modern-contacts a:hover {
	color: #fcb80b;
}
.rd-navbar-modern-list-social a:hover {
	color: #fcb80b;
}
.link-instafeed a:hover {
	color: #fcb80b;
}
.swiper-button-prev:hover::after, .swiper-button-next:hover::after {
	background: #fcb80b;
}
.swiper-button-prev:before {
	border-right-color: #fcb80b;
}
.swiper-button-next:before {
	border-left-color: #fcb80b;
}
.swiper-pagination-bullet:hover, .swiper-pagination-bullet:focus {
	background: #fcb80b;
}
.swiper-pagination-bullet-active {
	background: #fcb80b;
}
.swiper-pagination-style-2 .swiper-pagination-bullet::after {
	background: #fcb80b;
}
.swiper-pagination-style-2 .swiper-pagination-bullet:hover::before, .swiper-pagination-style-2 .swiper-pagination-bullet:focus::before {
	background: #fcb80b;
}
.swiper-slider-classic .swiper-pagination-bullet::after {
	background: #fcb80b;
}
.swiper-pagination__fraction-index {
	color: #fcb80b;
}
.swiper-slider-classic-2 .swiper-pagination__fraction-index {
	color: #fcb80b;
}
.swiper-slider-classic-2 .swiper-pagination-bullet::after {
	background: #fcb80b;
}
.swiper-slider-classic-2 .context-dark .button.button-ujarak::before {
	background: #fcb80b;
}
.swiper-slider-classic-2 .context-dark .button.button-ujarak:hover, .swiper-slider-classic-2 .context-dark .button.button-ujarak:active {
	border-color: #fcb80b;
}
.swiper-slider-corporate .swiper-pagination-bullet::after {
	background: #fcb80b;
}
.swiper-slider-corporate h6 {
	color: #fcb80b;
}
.swiper-slider-tara .swiper-pagination-bullet::before {
	background: #fcb80b;
}
.swiper-slider-tara .swiper-pagination-bullet::after {
	border: 3px solid #fcb80b;
}
.swiper-slider-tara .button.button-ujarak:not([class*='button-primary'])::before {
	background: #fcb80b;
}
.swiper-slider-tara .button.button-ujarak:not([class*='button-primary']):hover, .swiper-slider-tara .button.button-ujarak:not([class*='button-primary']):active {
	border-color: #fcb80b;
}
.rd-search-results-live .search-link:hover {
	color: #fcb80b;
}
.rd-search-results-live .search-submit {
	background: #fcb80b;
}
.rd-search-results-live .search-submit:hover {
	background: #fcb80b;
}
.rd-search.rd-search-inline .button-link:hover {
	color: #fcb80b;
}
.button-search:hover {
	color: #fcb80b;
}
.isotope-filters-modern .inline-list a::after {
	background: #fcb80b;
}
.isotope-filters-modern .inline-list a:hover {
	color: #fcb80b;
}
.rd-search-results .search {
	background: #fcb80b;
}
.rd-search-classic .rd-search-submit:hover {
	color: #fcb80b;
}
[class*='isotope-filters-list'] a:hover {
	color: #fcb80b;
}

 @media (min-width: 768px) {
.isotope-filters-list a:hover {
	color: #fcb80b;
}
.isotope-filters-list a.active {
	color: #fcb80b;
}
.isotope-filters-list-2 a:hover {
	color: #fcb80b;
}
.isotope-filters-list-2 a.active {
	color: #fcb80b;
}
.isotope-filters-list-classic li a:hover, .isotope-filters-list-classic li a.active {
	color: #fcb80b;
}
.isotope-filters-list-classic li a:hover::before, .isotope-filters-list-classic li a.active::before {
	border-color: #fcb80b transparent #fcb80b transparent;
}
.isotope-filters-list-classic li a:hover::after, .isotope-filters-list-classic li a.active::after {
	border-color: transparent #fcb80b transparent #fcb80b;
}
}
 @media (max-width: 767px) {
.tabs-line .nav-link:hover, .tabs-line .nav-link.active {
	color: #fcb80b;
}
.tabs-line .nav-link.active {
	border-color: #fcb80b;
}
}
 @media (max-width: 767px) {
.tabs-corporate .nav-link.active {
	border-color: transparent transparent #fcb80b transparent;
}
}
 @media (min-width: 768px) {
.tabs-horizontal.tabs-line .nav-link::after {
	background: #fcb80b;
}
.tabs-horizontal.tabs-line .nav-link.active, .tabs-horizontal.tabs-line .nav-link:hover {
	color: #fcb80b;
}
.tabs-vertical.tabs-line .nav-link.active, .tabs-vertical.tabs-line .nav-link:hover {
	color: #fcb80b;
}
}
.card-corporate .card-title a:hover {
	color: #fcb80b;
}
.card-corporate .card-arrow {
	border: 4px solid #fcb80b;
}
.card-corporate-2 .card-arrow {
	border-color: #fcb80b;
}
.card-corporate-2 .card-arrow::before, .card-corporate-2 .card-arrow::after {
	background: #fcb80b;
}
.counter-modern-2 .counter-modern-decor {
	background: #fcb80b;
}
.counter-modern-decor {
	background: #fcb80b;
}
.progress-bar-linear {
	background: #fcb80b;
}
.progress-marker {
	background: #fcb80b;
}
.owl-prev:hover, .owl-next:hover {
	color: #fcb80b;
}
.owl-dot::after {
	background: #fcb80b;
}
.owl-classic .owl-prev:hover::before, .owl-classic .owl-next:hover::before {
	background-color: #fcb80b;
}
.owl-classic .owl-prev:hover::after, .owl-classic .owl-next:hover::after {
	border-left-color: #fcb80b;
	border-right-color: #fcb80b;
}
.owl-posts .owl-dot::after {
	background: #fcb80b;
}
.owl-posts .owl-dot:hover::before, .owl-posts .owl-dot:focus::before {
	background: #fcb80b;
}
.owl-posts-2 .owl-dot::after {
	background: #fcb80b;
}
.owl-posts-2 .owl-dot:hover::before, .owl-posts-2 .owl-dot:focus::before {
	background: #fcb80b;
}
.owl-custom-nav .owl-prev, .owl-custom-nav .owl-next {
	color: #fcb80b;
	border: 4px solid #fcb80b;
}
.owl-custom-nav .owl-prev:hover, .owl-custom-nav .owl-next:hover {
	border-color: #fcb80b;
}
.lg-outer .lg-thumb-item.active {
	border-color: #fcb80b;
}
.lg-progress-bar .lg-progress {
	background-color: #fcb80b;
}
.select2-container-active {
	border: 1px solid #fcb80b;
}
.select2-drop-active {
	border: 1px solid #fcb80b;
	border-top: 0;
}
.select2-drop.select2-drop-above.select2-drop-active {
	border: 1px solid #fcb80b;
}
.select2-results .select2-highlighted {
	background: #fcb80b;
}
.select2-results .select2-disabled.select2-highlighted {
	background: #fcb80b;
}
.rd-range__pointer {
	background-color: #fcb80b;
}
.rd-range__line {
	background-color: #fcb80b;
}
.slick-prev, .slick-next {
	background: #fcb80b;
}
.slick-prev:hover, .slick-next:hover {
	color: #fcb80b;
}
.stepper-arrow:hover {
	color: #fcb80b;
}
.twentytwenty-left-arrow, .twentytwenty-right-arrow, .twentytwenty-up-arrow, .twentytwenty-down-arrow {
	color: #fcb80b;
}
